<h2>EnginStudents</h2>
<% if user_signed_in?%>
  <a href = "/profiles/<%= current_user.id%>">Mypage</a>
  <a href = "/">投稿</a>
  <a href = "/tweets/new">検索</a>
  <a href = "/">いいね一覧</a>
  <a href = "/logo"></a>
  <a class = "js-modal-open" href = "/" data-target = "modal01"></a>
  <div id="modal01" class="c-modal js-modal">
    <div class="c-modal_bg js-modal-close"></div>
    <div class="c-modal_content _lg">
        <div class="c-modal_content_inner">
            <a class="js-modal-close c-modal_close" href=""><span>閉じる</span></a>
            <form action = "/tweet" method = "post">
              <input type = "hidden" name = "user_id" value = "<%= current_user.id%>">
              <input type = "text" name = "title">
              <input type = "text" name = "company_name" placeholer = "会社の名前">
              <input type = "text" name = "job" placeholer = "種類">
              <input type = "text" name= "text">
              <input type = "date" name = "entry_date">
              <input type = "date" name = "start_date">
              <input type = "date" name = "end_date">
              <input type = "submit" value = "投稿">
            </form>
        </div>
    </div>
</div>
<% else %>
<a href = "/users/sign_up">サインアップ</a>
<a href = "/users/sign_in">ログインをする</a>
<% end %>
<div>
  <%= @profile.user.name%>
  <%= @profile.one_word_comment%>
  <%= @profile.url%>
  <% if @profile.user.id == current_user.id%>
    <a class = "side_content js-modal-open" href = "" data-target = "modal-profile">編集</a>
  <% else %>
  <% end %>
  
  
   <div id="modal-profile" class="c-modal-profile js-modal-profile">
    <div class="c-modal_bg-profile js-modal-close-profile"></div>
    <div class="c-modal_content-profile _lg">
        <div class="c-modal_content_inner-profile">
            <a class="js-modal-close-profile c-modal_close-profile" href=""><span>閉じる</span></a>
            <form action = "/profiles/<%= @profile.id%>" method = "post" enctype="multipart/form-data">
              <input type="file" name="front_img" accept="image/*">
              <input type="file" name="back_img" accept="image/*">
              <input type = "text" name = "url" value = "<%= @profile.url%>">
              <input type = "text" name = "one_word_comment" value = "<%= @profile.one_word_comment%>">
              <input type = "submit" value = "編集">
            </form>
        </div>
    </div>
  </div>
</div>