<div style = "width:100%;display:flex;">
  <div style = "width:7.5%;"></div>
  <h2>EnginStudents</h2>
</div>
<div class = "main_contents">
   <div class = "side_contents">
    <div style = "width:100%;display:flex;">
      <div style = "width:30%;"></div>
      <div style = "display:flex;flex-direction: column;width:70%;">
        <% if user_signed_in?%>
          <div style = "width:100%;">
            <h3><i class="fas fa-sign-out-alt" style = "width:15%;"></i><%= link_to 'ログアウト',destroy_user_session_path,method: :delete%></h3>
          </div>
          <div style = "width:100%;">
            <h3><a class = "side_content" href = "/profiles/<%= current_user.id%>"><i class="far fa-id-card" style = width:15%;></i>Mypage</a></h3>
          </div>
          <% if current_user.id == 1%>
            <div style = "width:100%;">
              <h3><a class = "side_content js-modal-open" href = "" data-target = "modal01"><i class="fas fa-paper-plane" style = "width:15%;"></i>インターン投稿</a></h3>
            </div>
          <% end %>
            <div style = "width:100%;">
              <h3><a class = "side_content js-modal-open" href = "" data-target = "modal-tweet"><i class="fas fa-paper-plane" style = "width:15%;"></i>投稿</a></h3>
            </div>
            <div style = "width:100%;">
              <h3><a class = "side_content"href = "/tweets/new"><i class="fas fa-search" style = "width:15%;"></i>検索</a></h3>
            </div>
            <div style = "width:100%;">
              <h3><a class = "side_content"href = "/users/<%= current_user.id%>/likes"><i class="fas fa-thumbs-up" style = "width:15%;"></i>いいね一覧</a></h3>
            </div>
            <div style = "width:100%;">
              <h3><a class = "side_content"href = "/"><i class="fas fa-lock" style = "width:15%;"></i>近日実装</a></h3>
            </div>
        <% else %>
            <div style = "width:100%;">
              <h3><a class = "side_content" href = "/users/sign_up"><i class="fas fa-user-plus" style = "width:15%;"></i>サインアップ</a></h3>
            </div>
            <div style = "width:100%;">
              <h3><a class = "side_content"href = "/users/sign_in"><i class="fas fa-sign-in-alt" style = "width:15%;"></i>ログインをする</a></h3>
            </div>
        <% end %>
      </div>
   </div>
  </div>
    <div class = "tweet_contents">
      <div class = "my_profile" style = "display:flex;">
        <div class = "backend_img" style = "width:500px;height:500px;">
          <img src = "<%= @profile.back_img%>" style = "width:100%;height:100%;">
        </div>
        <div class = "front_infs" style = "display:flex;flex-flow: column;">
          <div class = "front_inf" style = "display:flex;">
            <div class = "front_img" style = "width:100px;height:100px;">
              <img src = "<%= @profile.front_img%>" style = "width:100%;height:100%; border-radius: 50%;">
            </div>
              <p><%= @profile.user.name%></p>
              <% if current_user.id == @profile.user_id%>
                <a class = "side_content js-modal-open" href = "" data-target = "modal-profile">編集</a>
              <% end %>
          </div>
          <div class = "text_inf" style = "display:flex;flex-flow: column;">
            <p>URL</p>
            <p><%= @profile.url%></p>
            <p>一言コメント</p>
            <p><%= @profile.one_word_comment %></p>
          </div>
        </div>
        
      </div>
    </div>
  

    
    <div id="modal-profile" class="c-modal-profile js-modal-profile">
    <div class="c-modal_bg-profile js-modal-close-profile"></div>
    <div class="c-modal_content-profile _lg">
        <div class="c-modal_content_inner-profile">
            <a class="js-modal-close-profile c-modal_close-profile" href=""><span>閉じる</span></a>
            <form action = "/profiles/<%= @profile.id%>" method = "post" enctype="multipart/form-data">
              <div style = "display:flex;">
                <label><input type="file" name="back_img" accept="image/*" id = "myImage" style = "display:none;"><img src = "<%= @profile.back_img%>" id = "back_preview" style = "height:250px;width:200px;"></label>
                <div style = "display:flex;flex-flow: column;">
                  <label><input type="file" name="front_img" accept="image/*" id = "myFrontImage" style = "display:none;"><img src = "<%= @profile.front_img%>" id = "front_preview" style = "height:100px;width:100px; border-radius: 50%;"></label>
                  <input type = "text" name = "url" value = "<%= @profile.url%>">
                  <input type = "text" name = "one_word_comment" value = "<%= @profile.one_word_comment%>">
                </div>
              </div>
              <input type = "submit" value = "編集">
            </form>
        </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('#myImage').on('change',function(e){
      var reader = new FileReader();
      reader.onload = function(e){
        $('#back_preview').attr('src',e.target.result);
      }
      reader.readAsDataURL(e.target.files[0]);
    });
    $('#myFrontImage').on('change',function(e){
      var reader = new FileReader();
      reader.onload = function(e){
        $('#front_preview').attr('src',e.target.result);
      }
      reader.readAsDataURL(e.target.files[0]);
    });
  });
</script>