<div style = "width:100%;display:flex;">
  <div style = "width:7.5%;"></div>
  <h2>EnginStudents</h2>
</div>
<div class = "main_contents">
  <div class = "side_contents">
    <div style = "width:100%;display:flex;">
    <div style = "width:30%;"></div>
    <div style = "display:flex;flex-direction: column;">
  <% if user_signed_in?%>
    <h3><i class="fas fa-sign-out-alt"></i><%= link_to 'ログアウト',destroy_user_session_path,method: :delete%></h3>
    <h3><a class = "side_content" href = "/profiles/<%= current_user.id%>"><i class="far fa-id-card"></i>Mypage</a></h3>
    <% if current_user.id == 1%>
      <h3><a class = "side_content js-modal-open" href = "" data-target = "modal01"><i class="fas fa-paper-plane"></i>インターン投稿</a></h3>
    <% end %>
    <h3><a class = "side_content js-modal-open" href = "" data-target = "modal-tweet"><i class="fas fa-paper-plane"></i>投稿</a></h3>
    <h3><a class = "side_content"href = "/tweets/new"><i class="fas fa-search"></i>検索</a></h3>
    <h3><a class = "side_content"href = "/users/<%= current_user.id%>/likes"><i class="fas fa-thumbs-up"></i>いいね一覧</a></h3>
    <h3><a class = "side_content"href = "/"><i class="fas fa-lock"></i>近日実装</a></h3>
  <% else %>
    <h3><a class = "side_content" href = "/users/sign_up">サインアップ</a></h3>
    <h3><a class = "side_content"href = "/users/sign_in">ログインをする</a></h3>
  <% end %>
    </div>
   </div>
  </div>
  <div class = "tweet_contents">
    <% @tweets.each do |tweet|%>
      <div class = "tweet_content">
        <div class = "top_date">
          <div class = "img_areas">
            <div class = "img_size">
              <img class = "front_img"src = "<%= tweet.tweet_profile(tweet).front_img%>">
            </div>
          </div>
          <p><%= tweet.user.name%></p>
        </div>
        <div class = "text_dates">
          <div class = "null_area">
          </div>
          <div class = "text_date">
          <h2><%= tweet.title%></h2>
          <%= tweet.company_name%>
          <%= tweet.job%>
          <% if tweet.job?%>
            <div class = "data_areas">
              <div>
                <p>エントリー</p>
                <%= tweet.entry_date%>
              </div>
              <div>
                <p>開始</p>
                <%= tweet.start_date%>
              </div>
              <div>
                <p>終わり</p>
                <%= tweet.end_date%>
              </div>
           </div>
         <% end %>
         <%= tweet.text%>
         <% if user_signed_in? %>
           <div class = "action_contents">
             <div class = "action_content">
               <a href = "/tweets/<%= tweet.id%>"><i class="fas fa-comments"></i></a>
             </div>
             <% if current_user.id == tweet.user.id%>
               <div class = "action_content">
                 <form action = "/tweets/<%= tweet.id%>" method = "POST">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type = "submit" value = "&#xf1f8;" class = "fas_style">
                 </form>
               </div>
             <% else %>
             <% end %>
             <% if current_user.liked(tweet)%>
               <form action = "/users/<%= current_user.id%>/likes/<%= current_user.liked(tweet).id %>" method = "post">
                 <input type="hidden" name="_method" value="DELETE">
                 <input type = "submit" value = "&#xf004;" class = "fas_style" style = "color: red;">
               </form>
             <% else %>
               <form action = "/users/<%= current_user.id%>/likes" method = "post">
                 <input type = "hidden" name = "user_id" value = "<%= current_user.id%>">
                 <input type = "hidden" name = "tweet_id" value = "<%= tweet.id%>">
                 <input type = "submit" value = "&#xf004;" class = "fas_style">
               </form>
             <% end %>
          </div>
        <% else %>
          <p>ログインをすると見ることが出来ます</p>
        <% end %>
        </div>
      </div>
      </div>
    <% end %>
  </div>
</div>

<% if user_signed_in?%>
 <div id = "modal-tweet" class = "c-modal-tweet js-modal-tweet">
  <div class = "c-modal_bg-tweet js-modal-close-tweet"></div>
  <div class = "c-modal_content-tweet _lg-tweet">
    <div class = "c-modal_content_inner-tweet">
      <a class = "js-modal-close-tweet c-modal_close-tweet" href = ""><span>閉じる</span></a>
      <form action = "/tweets" method = "post">
        <input type = "hidden" name = "user_id" value = "<%= current_user.id%>">
        <input type = "text" name = "text">
        <input type = "submit" value = "投稿">
      </form>
    </div>
  </div>
  
  
 </div>
 <div id="modal01" class="c-modal js-modal">
      <div class="c-modal_bg js-modal-close"></div>
      <div class="c-modal_content _lg">
        <div class="c-modal_content_inner">
          <a class="js-modal-close c-modal_close" href=""><span>閉じる</span></a>
          <form action = "/tweets" method = "post">
            <div style = " display: flex;flex-direction: column;">
              <input type = "hidden" name = "user_id" value = "<%= current_user.id%>">
              <div style = "display:flex;width:100%;">
                <h5>インターンの題名</h5>
                <input type = "text" name = "title" class = "side_content_input">
              </div>
              <div style = "display:flex;width: 100%;">
                <h5>会社の名前</h5>
                <input type = "text" name = "company_name" placeholer = "会社の名前" class = "side_content_input">
              </div>
              <div style = "display:flex;width: 100%;">
                  <h5>エンジニアの種類</h5>
                  <input type = "text" name = "job" placeholer = "種類" class = "side_content_input">
              </div>
              <div style = "display:flex;width: 100%;">
                <h5>細かい情報</h5>
                <input type = "text" name= "text" class = "side_content_input">
              </div>
              <div style = "display:flex;width:100%;">
                <h5 style = "padding-right: 20px;">日程</h5>
                <div style = "display:flex;flex-direction: column;width:70%;">
                  <h6 style = "margin: 0px;">エントリー日</h6>
                  <input type = "date" name = "entry_date" class = "side_content_input">
                  <h6 style = "margin: 0px;">就業開始日</h6>
                  <input type = "date" name = "start_date" class = "side_content_input">
                  <h6 style = "margin: 0px;">就業最終日</h6>
                  <input type = "date" name = "end_date" class = "side_content_input">
                </div>
              </div>
              <div style = "width:100%;display:flex">
                <div style = "width:75%;"></div>
                <input type = "submit" value = "投稿" style = "width:13%;">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  <% end %>