<h1><a href = "/">EnginStudents</a></h1>
<div class = "main_contents">
  <div class = "side_contents">
    <% if user_signed_in?%>
      <a class = "side_content" href = "/profiles/<%= current_user.id%>">Mypage</a>
      <a class = "side_content"href = "">投稿</a>
      <a class = "side_content"href = "/tweets/new">検索</a>
      <a class = "side_content"href = "/">いいね一覧</a>
      <a class = "side_content"href = "/logo">Logo</a>
      <a class = "js-modal-open" href = "" data-target = "modal01"></a>
      <div id="modal01" class="c-modal js-modal">
        <div class="c-modal_bg js-modal-close"></div>
        <div class="c-modal_content _lg">
          <div class="c-modal_content_inner">
            <a class="js-modal-close c-modal_close" href=""><span>閉じる</span></a>
            <form action = "/tweet" method = "post">
              <input type = "hidden" name = "user_id" value = "<%= current_user.id%>">
              <input type = "text" name = "title">
              <input type = "text" name = "company_name" placeholer = "会社の名前">
              <input type = "text" name = "job" placeholer = "種類">
              <input type = "text" name= "text">
              <input type = "date" name = "entry_date">
              <input type = "date" name = "start_date">
              <input type = "date" name = "end_date">
              <input type = "submit" value = "投稿">
            </form>
          </div>
        </div>
      </div>
    <% else %>
      <a href = "/users/sign_up">サインアップ</a>
      <a href = "/users/sign_in">ログインをする</a>
    <% end %>
  </div>
  <div class = "tweet_contents">
    <div class = "tweet_content">
      <div class = "top_date">
        <div class = "img_areas">
          <div class = "img_size">
            <img class = "front_img" src = "<%= @tweet.tweet_profile(@tweet).front_img%>">
          </div>
        </div>
        <p><%= @tweet.user.name%></p>
      </div>
      <div class = "text_dates">
        <div class = "null_area"></div>
        <div class = "text_date">
         <h2><%= @tweet.title%></h2>
         <%= @tweet.company_name%>
         <%= @tweet.job%>
         <div class = "data_areas">
           <div>
             <p>エントリー</p>
             <%= @tweet.entry_date%>
           </div>
           <div>
             <p>開始</p>
             <%= @tweet.start_date%>
           </div>
           <div>
             <p>終わり</p>
             <%= @tweet.end_date%>
           </div>
         </div>
         <%= @tweet.text%>
         <div class = "action_contents">
           <div class = "action_content">
            <a class = "side_content js-modal-open-comment" href = "" data-target = "modal-comment">コメント</a>
           </div>
           <div class = "action_content">
             <form action = "/tweet/<%= @tweet.id%>" method = "post">
              <input type = "submit" value = "削除">
             </form>
           </div>
           <% if current_user.liked(@tweet)%>
             <form action = "/likes/<%= current_user.liked(@tweet).id%>" method = "post">
               <input type = "submit" value = "いいね取り消し">
             </form>
           <% else %>
             <form action = "/likes" method = "post">
               <input type = "hidden" name = "user_id" value = "<%= current_user.id%>">
               <input type = "hidden" name = "tweet_id" value = "<%= @tweet.id%>">
               <input type = "submit" value = "いいね">
             </form>
           <% end %>
         </div>
        </div>
      </div>
    </div>
    <div class = "comment" style = "margin-right: 450px;margin-left: 100px;">
      <% @comments.each do |comment|%>
        <div style = "border: solid;padding:15px;margin-top:10px;">
          <div class = "top_date" style = "display:flex;width:100%;">
            <div style = "width:10%;">
              <div style = "width:50px;height:50px;">
                <img style = "width:100%;height:100%;" src = "<%= comment.comment_profile(comment).front_img%>">
              </div>
            </div>
            <p><%= comment.user.name%></p>
          </div>
          <div style = "width:100%;display:flex;">
            <div style = "width:10%;"></div>
            <div style = "width:90%;">
              <%= comment.text%>
              <div class = "action_contents">
                <% if comment.user.id == current_user.id%>
                  <div class = "action_content">
                    <form action = "/tweets/<%= @tweet.id%>/comments/<%= comment.id%>" method = "post">
                      <input type = "submit" value = "&#xf1f8;" class = "fas_style">
                    </form>
                  </div>
                <% end %>
                <div class = "action_content">
                    
                </div>
              </div>
            </div>
            
          </div>
        </div>
       <% end %>
    </div>
</div>
</div>
<div>
</div>

 <div id="modal-comment" class="c-modal-comment js-modal-comment">
    <div class="c-modal_bg-comment js-modal-close-comment"></div>
    <div class="c-modal_content-comment _lg-comment">
    <div class="c-modal_content_inner-comment">
      <a class="js-modal-close-comment c-modal_close-comment" href=""><span>閉じる</span></a>
      <form action = "/tweets/<%= @tweet.id%>/comments" method = "post">
          <input type = "hidden" name = "user_id" value = "<%= current_user.id%>">
          <input type = "text" name = "text">
          <input type = "submit" value = "送信">
      </form>
    </div>
</div>